html {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("https://source.unsplash.com/1600x900/?nature") no-repeat center center fixed;
    background-size: cover;
}

body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



.askName,
.greeting,
.toDoList,
.pendingList,
.finishedList {
    display: none;
    text-align: center;
}

.askName {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

.showing {
    display: block;
}

.temp {
    font-size: 1.4vw;
    font-weight: bold;
}

#weatherGeo {
    margin-top: 1%;
    margin-left: 1%;
}

input {
    background: 0;
    border: 0;
    border-bottom: 2px solid #fff;
    font-size: 2vw;
    text-align: center;
    width: 25vw;
    color: white;
    font-weight: bold;
}

input:focus {
    outline: none;
    color: white;
}

::placeholder {
    color: white;
    text-align: center;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time {
    font-size: 12vw;
    margin-top: 0;
    margin-bottom: 2%;
    text-align: center;
    font-weight: normal;
}

.date {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
}

.greeting {
    font-size: 3vw;
    font-weight: bolder;
    margin-bottom: 5%;
    text-align: center;
}

.pendingList,
.finishedList {
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}

.pendingList {
    font-size: 2vw;
}

.finishedList {
    float: right;
    font-size: 2vw;
    margin-right: 7%;
}



li {
    list-style: none;
    margin-top: 10px;
    margin-left: 0;
    color: white;
    font-size: 2vw;
    height: 2.5vw;
    text-align: center;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}


@media (max-width: 1150px) {
    .temp {
        font-size: 15px;
    }

    .date {
        font-size: 25px;
    }

    .time {
        font-size: 150px;
    }

    .askName {
        font-size: 150px;
    }

    input {
        font-size: 20px;
        text-align: center;
        width: 250px;
    }

    .greeting {
        font-size: 25px;
    }

    .pendingList {
        font-size: 20px;
    }

    .finishedList {
        float: right;
        font-size: 20px;
        margin-right: 7%;
    }

    li {
        font-size: 18px;
        height: 20px;
    }
}